body{ 
    align-items: center;
    text-align: center;
}
a{ 
color: black;
font-size: 30px;
font-style: oblique;
}

button{ 
width: 175px;
height: 75px ;
font-size: 20px;
border-radius: 50px;
color: blue;
border: 3px solid blue;
}

p{ 
color: black;
font-size:20px;
font: italic;
}

img{ 
border-radius: 200px;
}

h1{ 
    color: blue;
    font-size: 40px;
}