body{ 
    text-align: center;
    background-color: orange;
}
canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}
button{
    border-radius: 20px;
    border-color: orange ;
    width: 200px;
    height: 75px;
    color: rgb(100, 5, 5);
    background-color: white;
    font-size: 30px;
    margin-top: 5px;
    font-style: oblique;
    transition: all 0,2 ease;
}
button:hover{
    background-color: #edecec;
    transform: scale(1.04);
}